<ul class="flex">
  <li class="p-3"><a routerLink="page1">page1</a></li>
  <li class="p-3"><a routerLink="page2">page2</a></li>
  <li class="p-3">
    <a
      [routerLink]="[{ outlets: { popup: ['dialog1'] } }]"
      [queryParams]="{ order: 'popular' }"
      >dialog 1</a
    >
  </li>
  <li class="p-3">
    <a [routerLink]="[{ outlets: { popup: ['dialog2'] } }]">dialog 2</a>
  </li>
  <li class="p-3">
    <a [routerLink]="[{ outlets: { popup: null } }]">close</a>
  </li>
</ul>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
