<app-title [preserveQuery]="true">HELLO POP 1</app-title>
<a [routerLink]="[{ outlets: { popup: ['dialog2'] } }]">goto dialog2</a>
<div mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sapiente
    impedit, quam labore voluptatibus incidunt architecto nihil dicta
    consectetur consequatur, suscipit asperiores animi error, quaerat atque?
    Harum dignissimos nam doloremque!
  </p>
</div>
